
header {
    background-color: blue;
    height: 300px;
}

nav {
    background-color:red ;
    height: 50px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.center_header_nav {
    flex-basis: calc( 90% / 5 );
    display: flex;
    justify-content: space-around;
}

.container_hero {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    

}

.hero {
    height: 150px;
    text-align: center;
}

.hero_buttons{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.right_layout {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    background-color: green;
}

.left_layout {
    background-color: blueviolet;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom_layout {
    background-color: yellow;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_bottom {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
}

.bottom_button {
    display: flex;
    justify-content: center;
}

.bottom_layout figure {
    display: flex;
    justify-content: center;
}















